.container{
  height: 427px;
  width: 962px;
  border: 1px solid black;
  background-color: #ccc;
  display: flex;
}
.child{
  height:363px;
  width: 262px;
  border: 1px solid blue;
  background-color: white;
  border-radius: 5px; 
  row-gap: 5px;
}
child1{

}